@import "https://fonts.googleapis.com/css?family=Roboto:0,500;0,400;0,600&display=swap";
@import "https://fonts.googleapis.com/css?family=Urbanist:0,600;1,500;0,700;0,500&display=swap";
@import "https://fonts.googleapis.com/css?family=Roboto:0,500;0,400;0,600&display=swap";
.HomePage_2115_1288 {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 7px;
  display: flex;
}
.Home_8_5302 {
  flex-direction: column;
  align-items: flex-start;
  width: 1512px;
  height: 7252px;
  display: flex;
  overflow: hidden;
}
.Header_2115_1280 {
  justify-content: center;
  align-items: center;
  width: 1512px;
  height: 95px;
  display: flex;
}
.Navbar_2_8_5303 {
  background: #fff;
  flex-wrap: wrap;
  flex-shrink: 0;
  place-content: center;
  align-items: center;
  width: 1512px;
  height: 95px;
  padding: 0 64px;
  display: flex;
}
.Container_8_5304 {
  flex-wrap: wrap;
  flex: 1 0 0;
  place-content: center;
  align-items: center;
  gap: 32px;
  width: 100%;
  height: 84px;
  display: flex;
}
.Content_8_5305 {
  align-items: flex-start;
  width: 362px;
  height: 88px;
  display: flex;
}
.CompanyLogo_2016_1245 {
  background: #d3d3d3 url(<path-to-image>) -73.467px -36.457px/283.333% 242.857%
    no-repeat;
  flex-shrink: 0;
  width: 76px;
  height: 88px;
  overflow: hidden;
}
.Column_8_5307 {
  flex-wrap: wrap;
  place-content: center;
  align-items: center;
  gap: 32px;
  width: 378px;
  display: flex;
}
.Link_8_5308 {
  justify-content: center;
  align-items: center;
  gap: 4px;
  display: flex;
}
.LinkText_8_5309 {
  color: #261a06;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  display: inline-block;
}
.Link_8_5310 {
  justify-content: center;
  align-items: center;
  gap: 4px;
  display: flex;
}
.LinkText_8_5311 {
  color: #261a06;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  display: inline-block;
}
.Link_8_5312 {
  justify-content: center;
  align-items: center;
  gap: 4px;
  display: flex;
}
.LinkText_8_5313 {
  color: #261a06;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  display: inline-block;
}
.Link_8_5314 {
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  display: flex;
  position: relative;
}
.NavLinkDropdown_8_5315 {
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 100%;
  display: flex;
}
.LinkText_8_5316 {
  color: #261a06;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  display: inline-block;
}
.ChevronDown_8_5317 {
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.Menu_8_5319 {
  border-radius: var(--Radius-Small, 24px);
  border: var(--Stroke-Border-Width, 1px) solid
    var(--Color-Scheme-1-Border, #00000026);
  background: var(--Color-Scheme-1-Background, #fff);
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  height: 152px;
  padding: 24px;
  display: flex;
  position: absolute;
  bottom: -160px;
  right: -39px;
  overflow: hidden;
}
.Actions_8_5323 {
  flex-wrap: wrap;
  place-content: center flex-end;
  align-items: center;
  gap: 16px;
  width: 292px;
  display: flex;
}
.Button_8_5324 {
  border-top: 1.5px solid var(--Color-East-Bay-Dark, #41436d);
  border-right: 1.5px solid var(--Color-East-Bay-Dark, #41436d);
  border-bottom: 4px solid var(--Color-East-Bay-Dark, #41436d);
  border-left: 1.5px solid var(--Color-East-Bay-Dark, #41436d);
  background: var(--Color-East-Bay, #525489);
  box-sizing: border-box;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 20px;
  display: flex;
}
.Button_4179_8883 {
  color: var(--Color-White, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  display: inline-block;
}
.Hero_2115_1281 {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  display: flex;
}
.Header_76_8_5325 {
  background: #fff;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  width: 1512px;
  height: 1075px;
  padding: 0 64px;
  display: flex;
  overflow: hidden;
}
.Container_8_5326 {
  flex: 1 0 0;
  align-items: center;
  width: 1267px;
  display: flex;
}
.Column_8_5327 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
  padding-right: 80px;
  display: flex;
}
.Content_8_5328 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  width: 553px;
  display: flex;
}
.MediumLengthHeroHeadlineGoesHere_8_5329 {
  color: #261a06;
  letter-spacing: -0.56px;
  font-family: Urbanist;
  font-size: 56px;
  font-style: italic;
  font-weight: 500;
  line-height: 120%;
  display: inline-block;
}
.LoremIpsumDolorSitAmetConsecteturAdipiscingElitSuspendisseVariusEnimInErosElementumTristiqueDuisCursusMiQuisViverraOrnareErosDolorInterdumNullaUtCommodoDiamLiberoVitaeErat_8_5330 {
  color: var(--Color-Scheme-1-Text, #000);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Actions_8_5331 {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  display: flex;
}
.Button_8_5332 {
  border-top: 1.5px solid var(--Color-East-Bay-Dark, #41436d);
  border-right: 1.5px solid var(--Color-East-Bay-Dark, #41436d);
  border-bottom: 4px solid var(--Color-East-Bay-Dark, #41436d);
  border-left: 1.5px solid var(--Color-East-Bay-Dark, #41436d);
  background: var(--Color-East-Bay, #525489);
  box-sizing: border-box;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 24px;
  display: flex;
}
.Button_4179_8873 {
  color: var(--Color-White, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  display: inline-block;
}
.Content_8_5334 {
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  width: 714px;
  display: flex;
  position: relative;
}
.Column_8_5335 {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 347.48px;
  height: 2732px;
  display: flex;
  position: absolute;
  bottom: -1832px;
  right: 0;
}
.PlaceholderImage_8_5336,
.PlaceholderImage_8_5337,
.PlaceholderImage_8_5338 {
  border-radius: var(--Radius-Medium, 32px);
  background: #d3d3d3 url(<path-to-image>) 50% / cover no-repeat;
  flex-shrink: 0;
  height: 340px;
}
.Column_8_5339 {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 347.48px;
  height: 2732px;
  display: flex;
  position: absolute;
  bottom: -1680px;
}
.PlaceholderImage_8_5340,
.PlaceholderImage_8_5341,
.PlaceholderImage_8_5342 {
  border-radius: var(--Radius-Medium, 32px);
  background: #d3d3d3 url(<path-to-image>) 50% / cover no-repeat;
  flex-shrink: 0;
  height: 340px;
}
.AboutUs_2115_1287 {
  background: #261a06;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 53px;
  width: 1512px;
  height: 1080px;
  padding: 80px 44px 80px 53px;
  display: flex;
}
.AboutUs_2115_1289 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  width: 1278px;
  display: flex;
}
.Container_8_5444 {
  align-items: center;
  gap: 50px;
  width: 1239px;
  display: flex;
}
.PlaceholderImage_8_5445 {
  border-radius: var(--Radius-Large, 40px);
  background: #d3d3d3 url(<path-to-image>) 50% / cover no-repeat;
  flex: 1 0 0;
  height: 640px;
}
.Content_8_5446 {
  flex-direction: column;
  flex-shrink: 0;
  align-items: flex-start;
  gap: 32px;
  width: 540px;
  height: 640px;
  display: flex;
}
.TaglineWrapper_2022_1252 {
  align-items: center;
  width: 91px;
  display: flex;
}
.Tagline_2022_1253 {
  color: #fff;
  flex-shrink: 0;
  width: 91px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  display: inline-block;
}
.Content_8_5447 {
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  display: flex;
}
.Heading_8_5448 {
  color: #fff;
  letter-spacing: -0.4px;
  font-family: Urbanist;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  display: inline-block;
}
.Text_8_5449 {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Content_8_5450 {
  flex-direction: column;
  flex-shrink: 0;
  align-items: flex-start;
  gap: 16px;
  width: 540px;
  height: 292px;
  display: flex;
}
.Row_8_5451 {
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  padding: 8px 0;
  display: flex;
}
.Stat_2056_1226 {
  box-sizing: border-box;
  background: #d8d8d8;
  border: 1px solid #000;
  border-radius: 32px;
  flex-direction: column;
  flex: 1 0 0;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  padding: 32px;
  display: flex;
}
.Text_2056_1227 {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  display: inline-block;
}
.Content_2056_1228 {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  display: flex;
}
.Divider_2056_1230 {
  background: var(--Color-Neutral-black, #000);
  box-sizing: border-box;
  width: 194px;
  height: 1px;
}
.Text_2056_1231 {
  color: var(--Color-Neutral-black, #000);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Stat_2056_1233 {
  box-sizing: border-box;
  background: #d8d8d8;
  border: 1px solid #000;
  border-radius: 32px;
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  padding: 32px;
  display: flex;
}
.Text_2056_1234 {
  color: var(--Color-Neutral-black, #000);
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  display: inline-block;
}
.Content_2056_1235 {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  display: flex;
}
.Divider_2056_1237 {
  background: var(--Color-Neutral-black, #000);
  box-sizing: border-box;
  width: 194px;
  height: 1px;
}
.Text_2056_1238 {
  color: var(--Color-Neutral-black, #000);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Services_2115_1282 {
  justify-content: center;
  align-items: center;
  width: 1512px;
  height: 1133px;
  display: flex;
}
.Layout_239_8_5343 {
  background: #fff;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  gap: 53px;
  width: 1512px;
  height: 1133px;
  padding: 80px 64px;
  display: flex;
  overflow: hidden;
}
.SectionTitle_8_5344 {
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 768px;
  display: flex;
}
.TaglineWrapper_8_5345 {
  align-items: center;
  display: flex;
}
.Tagline_8_5346 {
  color: var(--Color-Scheme-1-Text, #000);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  display: inline-block;
}
.Content_8_5347 {
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  display: flex;
}
.Heading_8_5348 {
  color: var(--Color-East-Bay, #525489);
  text-align: center;
  letter-spacing: -0.48px;
  font-family: Urbanist;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  display: inline-block;
}
.Text_8_5349 {
  color: var(--Color-Scheme-1-Text, #000);
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Content_8_5350 {
  flex-direction: column;
  flex-shrink: 0;
  align-items: flex-start;
  gap: 62px;
  width: 100%;
  height: 643px;
  display: flex;
}
.Row_8_5351 {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: 35px;
  width: 1312px;
  height: 643px;
  display: flex;
}
.Column_8_5352 {
  flex-direction: column;
  flex: 1 0 0;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  width: 100%;
  height: 643px;
  display: flex;
  overflow: hidden;
}
.PlaceholderImage_8_5353 {
  border-radius: var(--Radius-Medium, 32px);
  background: #d3d3d3 url(<path-to-image>) 50% / cover no-repeat;
  flex-shrink: 0;
  width: 415px;
  height: 438px;
}
.Content_8_5354 {
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  display: flex;
}
.Heading_8_5355 {
  color: var(--Color-Scheme-1-Text, #000);
  text-align: center;
  letter-spacing: -0.24px;
  font-family: Urbanist;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  display: inline-block;
}
.Text_8_5356 {
  color: var(--Color-Scheme-1-Text, #000);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Column_8_5357 {
  flex-direction: column;
  flex: 1 0 0;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  width: 100%;
  height: 643px;
  display: flex;
  overflow: hidden;
}
.PlaceholderImage_8_5358 {
  border-radius: var(--Radius-Medium, 32px);
  background: #d3d3d3 url(<path-to-image>) 50% / cover no-repeat;
  flex-shrink: 0;
  width: 415px;
  height: 438px;
}
.Content_8_5359 {
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  display: flex;
}
.Heading_8_5360 {
  color: var(--Color-Scheme-1-Text, #000);
  text-align: center;
  letter-spacing: -0.24px;
  font-family: Urbanist;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  display: inline-block;
}
.Text_8_5361 {
  color: var(--Color-Scheme-1-Text, #000);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Column_8_5362 {
  flex-direction: column;
  flex: 1 0 0;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  width: 100%;
  height: 643px;
  display: flex;
  overflow: hidden;
}
.PlaceholderImage_8_5363 {
  border-radius: var(--Radius-Medium, 32px);
  background: #d3d3d3 url(<path-to-image>) 50% / cover no-repeat;
  flex-shrink: 0;
  width: 414px;
  height: 438px;
}
.Content_8_5364 {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  width: 100%;
  display: flex;
}
.Heading_8_5365 {
  color: var(--Color-Scheme-1-Text, #000);
  text-align: center;
  letter-spacing: -0.24px;
  font-family: Urbanist;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  display: inline-block;
}
.Text_8_5366 {
  color: var(--Color-Scheme-1-Text, #000);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Actions_8_5367 {
  align-items: center;
  gap: 24px;
  display: flex;
}
.Button_8_5368 {
  border-top: 1.5px solid var(--Color-East-Bay-Dark, #41436d);
  border-right: 1.5px solid var(--Color-East-Bay-Dark, #41436d);
  border-bottom: 4px solid var(--Color-East-Bay-Dark, #41436d);
  border-left: 1.5px solid var(--Color-East-Bay-Dark, #41436d);
  background: var(--Color-East-Bay, #525489);
  box-sizing: border-box;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 24px;
  display: flex;
}
.Button_4179_8893 {
  color: var(--Color-White, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  display: inline-block;
}
.ListingsSection_2115_1283 {
  justify-content: center;
  align-items: center;
  width: 1512px;
  height: 1053px;
  display: flex;
}
.Layout_195_8_5370 {
  background: var(--Color-Scheme-1-Background, #fff);
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: 53px;
  width: 1512px;
  height: 1053px;
  padding: 53px 64px;
  display: flex;
  overflow: hidden;
}
.Container_8_5371 {
  align-items: center;
  gap: 80px;
  width: 100%;
  display: flex;
}
.PlaceholderImage_8_5372 {
  border-radius: var(--Radius-Large, 40px);
  background: #d3d3d3 url(<path-to-image>) 50% / cover no-repeat;
  flex: 1 0 0;
  height: 640px;
}
.Content_8_5373 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 32px;
  width: 100%;
  height: 640px;
  display: flex;
}
.Content_8_5374 {
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: 100%;
  display: flex;
}
.SectionTitle_8_5375 {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  display: flex;
}
.TaglineWrapper_8_5376 {
  align-items: center;
  display: flex;
}
.Tagline_8_5377 {
  color: var(--Color-Scheme-1-Text, #000);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  display: inline-block;
}
.Content_8_5378 {
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  display: flex;
}
.Heading_8_5379 {
  color: var(--Color-East-Bay, #525489);
  letter-spacing: -0.48px;
  font-family: Urbanist;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  display: inline-block;
}
.Text_8_5380 {
  color: var(--Color-Scheme-1-Text, #000);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Content_8_5381 {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  display: flex;
}
.Row_8_5382 {
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  padding: 8px 0;
  display: flex;
}
.ListItem_8_5383 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  display: flex;
}
.Heading_8_5384 {
  color: var(--Color-Scheme-1-Text, #000);
  letter-spacing: -0.2px;
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  display: inline-block;
}
.LoremIpsumDolorSitAmetConsecteturAdipiscingElitSuspendisseVariusEnimInErosElementumTristiqueDuisCursusMiQuisViverraOrnareErosDolorInterdumNullaUtCommodoDiamLiberoVitaeErat_8_5385 {
  color: var(--Color-Scheme-1-Text, #000);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.ListItem_8_5386 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  display: flex;
}
.Heading_8_5387 {
  color: var(--Color-Scheme-1-Text, #000);
  letter-spacing: -0.2px;
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  display: inline-block;
}
.Text_8_5388 {
  color: var(--Color-Scheme-1-Text, #000);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Actions_8_5389 {
  align-items: center;
  gap: 24px;
  display: flex;
}
.Button_2031_1227 {
  border-top: 1.5px solid var(--Color-East-Bay-Dark, #41436d);
  border-right: 1.5px solid var(--Color-East-Bay-Dark, #41436d);
  border-bottom: 4px solid var(--Color-East-Bay-Dark, #41436d);
  border-left: 1.5px solid var(--Color-East-Bay-Dark, #41436d);
  background: var(--Color-East-Bay, #525489);
  box-sizing: border-box;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 44px;
  padding: 10px 24px;
  display: flex;
  overflow: hidden;
}
.Button_2031_1233 {
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 24px;
  display: flex;
  overflow: hidden;
}
.Button_2031_1234 {
  color: var(--Color-White, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  display: inline-block;
}
.Icon_2031_1235 {
  width: 24px;
  height: 24px;
}
.PortfolioSection_2115_1284 {
  justify-content: center;
  align-items: center;
  width: 1512px;
  height: 1081px;
  display: flex;
}
.Portfolio_13_8_5392 {
  background: #261a06;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  gap: 80px;
  width: 1512px;
  height: 1081px;
  padding: 80px 64px;
  display: flex;
  overflow: hidden;
}
.SectionTitle_8_5393 {
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 768px;
  display: flex;
}
.TaglineWrapper_8_5394 {
  align-items: center;
  display: flex;
}
.Tagline_8_5395 {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  display: inline-block;
}
.Content_8_5396 {
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  display: flex;
}
.Heading_8_5397 {
  color: #fff;
  text-align: center;
  letter-spacing: -0.48px;
  font-family: Urbanist;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  display: inline-block;
}
.Text_8_5398 {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Content_8_5399,
.PortfolioList_8_5400 {
  flex-direction: column;
  align-items: center;
  gap: 64px;
  display: flex;
}
.Row_8_5401 {
  align-items: flex-start;
  gap: 32px;
  width: 1312px;
  display: flex;
}
.Card_8_5402 {
  border-radius: var(--Radius-Medium, 32px);
  border: var(--Stroke-Border-Width, 1px) solid
    var(--Color-Scheme-1-Border, #00000026);
  background: var(--Color-Scheme-1-Foreground, #f2f2f2);
  box-sizing: border-box;
  flex-direction: column;
  flex: 1 0 0;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 502px;
  display: flex;
  overflow: hidden;
}
.PlaceholderImage_8_5403 {
  background: #d3d3d3 url(<path-to-image>) 50% / cover no-repeat;
  flex-shrink: 0;
  height: 234px;
}
.Content_8_5404 {
  flex-direction: column;
  flex-shrink: 0;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  height: 264px;
  padding: 24px;
  display: flex;
}
.ContentTop_8_5405 {
  flex-direction: column;
  flex-shrink: 0;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  height: 172px;
  display: flex;
}
.Text_8_5406 {
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  display: flex;
}
.Heading_8_5407 {
  color: #000;
  letter-spacing: -0.24px;
  font-family: Urbanist;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  display: inline-block;
}
.Text_8_5408 {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Tags_8_5409 {
  flex-wrap: wrap;
  flex-shrink: 0;
  align-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  height: 29px;
  display: flex;
}
.Tag_8_5410 {
  border: 1px solid var(--Opacity-Neutral-Darkest-15, #00000026);
  background: var(--Opacity-Neutral-Darkest-5, #0000000d);
  box-sizing: border-box;
  border-radius: 4px;
  align-items: flex-start;
  padding: 4px 10px;
  display: flex;
}
.Text_5034_8671 {
  color: var(--Color-Neutral-Darkest, #000);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  display: inline-block;
}
.Tag_8_5411,
.Tag_8_5412 {
  border: 1px solid var(--Opacity-Neutral-Darkest-15, #00000026);
  background: var(--Opacity-Neutral-Darkest-5, #0000000d);
  box-sizing: border-box;
  border-radius: 4px;
  align-items: flex-start;
  padding: 4px 10px;
  display: flex;
}
.Actions_8_5413 {
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  display: flex;
}
.Button_8_5414 {
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  display: flex;
}
.Button_4179_8938 {
  color: var(--Color-East-Bay, #525489);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  display: inline-block;
}
.IconChevronRight_4179_8939 {
  width: 24px;
  height: 24px;
}
.Card_8_5415 {
  border-radius: var(--Radius-Medium, 32px);
  border: var(--Stroke-Border-Width, 1px) solid
    var(--Color-Scheme-1-Border, #00000026);
  box-sizing: border-box;
  background: #f2f2f2;
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  width: 100%;
  height: 502px;
  display: flex;
  overflow: hidden;
}
.PlaceholderImage_8_5416 {
  background: #d3d3d3 url(<path-to-image>) 50% / cover no-repeat;
  height: 234px;
}
.Content_8_5417 {
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  padding: 24px;
  display: flex;
}
.ContentTop_8_5418 {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  display: flex;
}
.Text_8_5419 {
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  display: flex;
}
.Heading_8_5420 {
  color: #000;
  letter-spacing: -0.24px;
  font-family: Urbanist;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  display: inline-block;
}
.Text_8_5421 {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Tags_8_5422 {
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  display: flex;
}
.Tag_8_5423,
.Tag_8_5424,
.Tag_8_5425 {
  border: 1px solid var(--Opacity-Neutral-Darkest-15, #00000026);
  background: var(--Opacity-Neutral-Darkest-5, #0000000d);
  box-sizing: border-box;
  border-radius: 4px;
  align-items: flex-start;
  padding: 4px 10px;
  display: flex;
}
.Actions_8_5426 {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  display: flex;
}
.Button_8_5427 {
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  display: flex;
}
.Card_8_5428 {
  border-radius: var(--Radius-Medium, 32px);
  border: var(--Stroke-Border-Width, 1px) solid
    var(--Color-Scheme-1-Border, #00000026);
  background: var(--Color-Scheme-1-Foreground, #f2f2f2);
  box-sizing: border-box;
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  width: 100%;
  height: 502px;
  display: flex;
  overflow: hidden;
}
.PlaceholderImage_8_5429 {
  background: #d3d3d3 url(<path-to-image>) 50% / cover no-repeat;
  flex-shrink: 0;
  height: 234px;
}
.Content_8_5430 {
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  padding: 24px;
  display: flex;
}
.ContentTop_8_5431 {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  display: flex;
}
.Text_8_5432 {
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  display: flex;
}
.Heading_8_5433 {
  color: #000;
  letter-spacing: -0.24px;
  font-family: Urbanist;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  display: inline-block;
}
.Text_8_5434 {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Tags_8_5435 {
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  width: 361px;
  display: flex;
}
.Tag_8_5436,
.Tag_8_5437,
.Tag_8_5438 {
  border: 1px solid var(--Opacity-Neutral-Darkest-15, #00000026);
  background: var(--Opacity-Neutral-Darkest-5, #0000000d);
  box-sizing: border-box;
  border-radius: 4px;
  align-items: flex-start;
  padding: 4px 10px;
  display: flex;
}
.Actions_8_5439 {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  display: flex;
}
.Button_8_5440 {
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  display: flex;
}
.Actions_8_5441 {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  display: flex;
}
.Button_8_5442 {
  border-top: 1.5px solid var(--Opacity-Neutral-Darkest-15, #00000026);
  border-right: 1.5px solid var(--Opacity-Neutral-Darkest-15, #00000026);
  border-bottom: 4px solid var(--Opacity-Neutral-Darkest-15, #00000026);
  border-left: 1.5px solid var(--Opacity-Neutral-Darkest-15, #00000026);
  background: var(--Color-Scheme-1-Background, #fff);
  box-sizing: border-box;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 24px;
  display: flex;
}
.Testimonials_2115_1405 {
  justify-content: center;
  align-items: center;
  width: 1512px;
  height: 743px;
  display: flex;
}
.Testimonial_23_2115_1290 {
  background: #fff;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: 60px;
  width: 1512px;
  height: 743px;
  padding: 53px 64px;
  display: flex;
}
.SectionTitle_2115_1291 {
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  display: flex;
}
.Heading_2115_1292 {
  color: var(--Color-Scheme-1-Text, #000);
  text-align: center;
  letter-spacing: -0.48px;
  width: 560px;
  font-family: Urbanist;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  display: inline-block;
}
.Text_2115_1293 {
  color: var(--Color-Scheme-1-Text, #000);
  text-align: center;
  width: 560px;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Content_2115_1294 {
  flex-direction: column;
  align-items: center;
  gap: 48px;
  width: 100%;
  display: flex;
  position: relative;
}
.Container_2115_1295 {
  align-items: flex-start;
  gap: 32px;
  width: 100%;
  display: flex;
}
.Column_2115_1296 {
  border-radius: var(--Radius-Medium, 32px);
  border: var(--Stroke-Border-Width, 1px) solid
    var(--Color-Scheme-1-Border, #00000026);
  background: var(--Color-Scheme-1-Foreground, #f2f2f2);
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: 416px;
  padding: 32px;
  display: flex;
}
.Content_2115_1297 {
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  width: 100%;
  display: flex;
}
.Content_2115_1299 {
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  display: flex;
}
.Quote_2115_1300 {
  color: var(--Color-Scheme-1-Text, #000);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Avatar_2115_1301 {
  align-items: center;
  gap: 16px;
  width: 100%;
  display: flex;
}
.AvatarImage_2115_1302 {
  background: #d3d3d3 url(<path-to-image>) 50% / cover no-repeat;
  border-radius: 48px;
  width: 48px;
  height: 48px;
}
.AvatarContent_2115_1303 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  width: 100%;
  display: flex;
}
.Text_2115_1304 {
  color: var(--Color-Scheme-1-Text, #000);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  display: inline-block;
}
.Text_2115_1305 {
  color: var(--Color-Scheme-1-Text, #000);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Actions_2115_1306 {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  display: flex;
}
.Button_2115_1307 {
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  display: flex;
}
.Column_2115_1308 {
  border-radius: var(--Radius-Medium, 32px);
  border: var(--Stroke-Border-Width, 1px) solid
    var(--Color-Scheme-1-Border, #00000026);
  background: var(--Color-Scheme-1-Foreground, #f2f2f2);
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: 416px;
  padding: 32px;
  display: flex;
}
.Content_2115_1309 {
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  width: 100%;
  display: flex;
}
.Content_2115_1311 {
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  display: flex;
}
.Quote_2115_1312 {
  color: var(--Color-Scheme-1-Text, #000);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Avatar_2115_1313 {
  align-items: center;
  gap: 16px;
  width: 100%;
  display: flex;
}
.AvatarImage_2115_1314 {
  background: #d3d3d3 url(<path-to-image>) 50% / cover no-repeat;
  border-radius: 48px;
  width: 48px;
  height: 48px;
}
.AvatarContent_2115_1315 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  width: 100%;
  display: flex;
}
.Text_2115_1316 {
  color: var(--Color-Scheme-1-Text, #000);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  display: inline-block;
}
.Text_2115_1317 {
  color: var(--Color-Scheme-1-Text, #000);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Actions_2115_1318 {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  display: flex;
}
.Button_2115_1319 {
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  display: flex;
}
.Column_2115_1320 {
  border-radius: var(--Radius-Medium, 32px);
  border: var(--Stroke-Border-Width, 1px) solid
    var(--Color-Scheme-1-Border, #00000026);
  background: var(--Color-Scheme-1-Foreground, #f2f2f2);
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: 416px;
  padding: 32px;
  display: flex;
}
.Content_2115_1321 {
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  width: 100%;
  display: flex;
}
.Content_2115_1323 {
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  display: flex;
}
.Quote_2115_1324 {
  color: var(--Color-Scheme-1-Text, #000);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Avatar_2115_1325 {
  align-items: center;
  gap: 16px;
  width: 100%;
  display: flex;
}
.AvatarImage_2115_1326 {
  background: #d3d3d3 url(<path-to-image>) 50% / cover no-repeat;
  border-radius: 48px;
  width: 48px;
  height: 48px;
}
.AvatarContent_2115_1327 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  width: 100%;
  display: flex;
}
.Text_2115_1328 {
  color: var(--Color-Scheme-1-Text, #000);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  display: inline-block;
}
.Text_2115_1329 {
  color: var(--Color-Scheme-1-Text, #000);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Actions_2115_1330 {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  display: flex;
}
.Button_2115_1331 {
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  display: flex;
}
.SliderDots_2115_1368 {
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 28px;
  display: flex;
}
.Dot_2115_1369 {
  fill: var(--Color-Scheme-1-Text, #000);
  width: 8px;
  height: 8px;
}
.Dot_2115_1370,
.Dot_2115_1371,
.Dot_2115_1372,
.Dot_2115_1373,
.Dot_2115_1374 {
  fill: var(--Color-Scheme-1-Text, #000);
  opacity: 0.2;
  width: 8px;
  height: 8px;
}
.SliderArrow_2115_1375 {
  border: 1px solid var(--Opacity-Neutral-Darkest-15, #00000026);
  background: var(--Color-Scheme-1-Foreground, #f2f2f2);
  box-sizing: border-box;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px;
  display: flex;
  position: absolute;
  top: 99.111px;
  left: -28px;
}
.IconLeftArrowAlt_6219_57775 {
  width: 24px;
  height: 24px;
}
.SliderArrow_2115_1376 {
  border: 1px solid var(--Opacity-Neutral-Darkest-15, #00000026);
  background: var(--Color-Scheme-1-Foreground, #f2f2f2);
  box-sizing: border-box;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px;
  display: flex;
  position: absolute;
  top: 111px;
  right: 48.289px;
}
.IconRightArrowAlt_6219_57777 {
  width: 24px;
  height: 24px;
}
.SignUpCtaBanner_2115_1285 {
  justify-content: center;
  align-items: center;
  width: 1512px;
  height: 592px;
  display: flex;
}
.Cta_4_2109_1109 {
  background:
    linear-gradient(#00000080 0% 100%),
    #d3d3d3 url(<path-to-image>) 50% / cover no-repeat;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
  width: 1512px;
  height: 592px;
  padding: 80px 64px;
  display: flex;
  overflow: hidden;
}
.Column_2109_1110 {
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: 768px;
  display: flex;
}
.Content_2109_1111 {
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  display: flex;
}
.Heading_2109_1112 {
  color: var(--Color-White, #fff);
  letter-spacing: -0.48px;
  font-family: Urbanist;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  display: inline-block;
}
.Text_2109_1113 {
  color: var(--Color-White, #fff);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Actions_2109_1114 {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 513px;
  display: flex;
}
.Form_2109_1115 {
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  display: flex;
}
.TextInput_2109_1116 {
  border: 1px solid var(--Opacity-White-20, #fff3);
  background: var(--Opacity-White-10, #ffffff1a);
  box-sizing: border-box;
  border-radius: 6px;
  flex: 1 0 0;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  display: flex;
}
.Placeholder_5014_9509 {
  color: var(--Opacity-White-60, #fff9);
  flex: 1 0 0;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Button_2109_1117 {
  border-top: 1.5px solid var(--Color-Neutral-Lighter, #d8d8d8);
  border-right: 1.5px solid var(--Color-Neutral-Lighter, #d8d8d8);
  border-bottom: 4px solid var(--Color-Neutral-Lighter, #d8d8d8);
  border-left: 1.5px solid var(--Color-Neutral-Lighter, #d8d8d8);
  background: var(--Color-White, #fff);
  box-sizing: border-box;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 24px;
  display: flex;
}
.Button_4179_8943 {
  color: var(--Color-Neutral-Darkest, #000);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  display: inline-block;
}
.ByClickingSignUpYouReConfirmingThatYouAgreeWithOurTermsAndConditions_2109_1118 {
  color: var(--Color-White, #fff);
  text-decoration-skip-ink: none;
  text-underline-offset: auto;
  text-underline-position: from-font;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  display: inline-block;
}
.Footer_2115_1286 {
  justify-content: center;
  align-items: center;
  width: 1512px;
  height: 400px;
  display: flex;
}
.Footer_1_8_5555 {
  background: #261a06;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: flex-start;
  gap: 26px;
  width: 1512px;
  height: 400px;
  padding: 44px 64px;
  display: flex;
  overflow: hidden;
}
.Content_8_5556 {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: 128px;
  width: 100%;
  height: 198px;
  display: flex;
}
.Newsletter_8_5557 {
  align-items: flex-start;
  gap: 24px;
  width: 500px;
  display: flex;
}
.CompanyLogo_2022_1254 {
  background: #d3d3d3 url(<path-to-image>) 50% / cover no-repeat;
  flex-shrink: 0;
  width: 98.711px;
  height: 114.559px;
  overflow: hidden;
}
.CompanyDescription_8_5559 {
  color: #fff;
  flex: 1 0 0;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Links_8_5565 {
  flex: 1 0 0;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
  display: flex;
}
.Column_8_5566 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  height: 188px;
  display: flex;
  overflow: hidden;
}
.QuickLinks_8_5567 {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  display: inline-block;
}
.FooterLinks_8_5568 {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  display: flex;
}
.Link_8_5569 {
  align-items: flex-start;
  width: 100%;
  padding: 8px 0;
  display: flex;
}
.Home_8_5570 {
  color: #fff;
  flex: 1 0 0;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Link_8_5571 {
  align-items: flex-start;
  width: 100%;
  padding: 8px 0;
  display: flex;
}
.Services_8_5572 {
  color: #fff;
  flex: 1 0 0;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Link_8_5573 {
  align-items: flex-start;
  width: 100%;
  padding: 8px 0;
  display: flex;
}
.Contact_8_5574 {
  color: #fff;
  flex: 1 0 0;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Link_8_5575 {
  align-items: flex-start;
  width: 100%;
  padding: 8px 0;
  display: flex;
}
.Blog_8_5576 {
  color: #fff;
  flex: 1 0 0;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Column_8_5577 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  height: 188px;
  display: flex;
  overflow: hidden;
}
.ConnectWithUs_8_5578 {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  display: inline-block;
}
.FooterLinks_8_5579 {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  display: flex;
}
.Link_8_5580 {
  align-items: flex-start;
  width: 100%;
  padding: 8px 0;
  display: flex;
}
.Careers_8_5581 {
  color: #fff;
  flex: 1 0 0;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Link_8_5582 {
  align-items: flex-start;
  width: 100%;
  padding: 8px 0;
  display: flex;
}
.FaQs_8_5583 {
  color: #fff;
  flex: 1 0 0;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Link_8_5584 {
  align-items: flex-start;
  width: 100%;
  padding: 8px 0;
  display: flex;
}
.Testimonials_8_5585 {
  color: #fff;
  flex: 1 0 0;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Link_8_5586 {
  align-items: flex-start;
  width: 100%;
  padding: 8px 0;
  display: flex;
}
.Events_8_5587 {
  color: #fff;
  flex: 1 0 0;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Column_8_5588 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  display: flex;
}
.FollowUs_8_5589 {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  display: inline-block;
}
.SocialLinks_8_5590 {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  display: flex;
}
.Link_8_5591 {
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 8px 0;
  display: flex;
}
.Facebook_8_5592 {
  width: 24px;
  height: 24px;
}
.Facebook_8_5593 {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Link_8_5594 {
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 8px 0;
  display: flex;
}
.Instagram_8_5595 {
  width: 24px;
  height: 24px;
}
.Instagram_8_5596 {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Link_8_5597 {
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 8px 0;
  display: flex;
}
.X_8_5598 {
  width: 24px;
  height: 24px;
}
.X_8_5599 {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Link_8_5600 {
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 8px 0;
  display: flex;
}
.YouTube_8_5601 {
  width: 24px;
  height: 24px;
}
.YouTube_8_5602 {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.Credits_8_5603 {
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: 100%;
  display: flex;
}
.Divider_8_5604 {
  box-sizing: border-box;
  background: #fff;
  width: 1384px;
  height: 1px;
}
.Row_8_5605 {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  display: flex;
}
.Copyright_8_5606 {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
}
.FooterLinks_8_5607 {
  align-items: flex-start;
  gap: 24px;
  display: flex;
}
.PrivacyPolicy_8_5608,
.TermsOfUse_8_5609 {
  color: #665e53;
  text-decoration-skip-ink: none;
  text-underline-offset: auto;
  text-underline-position: from-font;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  display: inline-block;
}
